@{
    ViewData["Title"] = "About Us";
}

<div class="about-us">
    <h1>@ViewData["Title"]</h1>
    <p>
        KhumaloCraft is the realization of a dream our founder, James Khumalo, once had.
        His dream was to unite artisans and craft enjoyers from all around the world.
        Believe it or not, KhumaloCraft was actually named after our founder, James Khumalo,
        which is where the "Khumalo" found within KhumaloCraft originates from.
    </p>
</div>