@{
    ViewData["Title"] = "Contact Us";
}

<div class="contact-us">
    <h1>@ViewData["Title"]</h1>
    <p>Please feel free to contact us with any questions or complements you may have with information found below.</p>
    <p>Email: realsupport@khumalocraft2.com</p>
    <p>Phone: +27 83 123 4567</p>
</div>