@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p>
        A world of handcrafted products, crafted by craftmasters all over the world using their bare hands.
        Try clicking one of the links in the navigation bar at the top to check out our stuff!
    </p>
</div>