@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p>Explore a world of handcrafted products from artisans worldwide.</p>
</div>