@model Shared.Models.Product

@{
    ViewData["Title"] = "Your Work";
}

<div class="text-center pb-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 pt-4">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Product" asp-action="FinishCraftProduct" method="post">
                            <div class="form-group">
                                <label asp-for="Name">
                                    Product Name
                                    <input asp-for="Name" class="form-control" placeholder="Enter product name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">
                                    Price
                                    <input asp-for="Price" class="form-control" placeholder="Enter price">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Availability">
                                    Availability
                                    <input asp-for="Availability" class="form-control" placeholder="Enter availability">
                                    <span asp-validation-for="Availability" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">
                                    Description
                                    <textarea asp-for="Description" class="form-control"
                                        placeholder="Enter description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Category">
                                    Category
                                    <input asp-for="Category" class="form-control" placeholder="Enter category">
                                    <span asp-validation-for="Category" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageURL">
                                    Image URL
                                    <input asp-for="ImageURL" class="form-control" placeholder="Enter image URL">
                                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group d-flex justify-content-center pt-3">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
